<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">main.com.Server.SQLServerNativeDialect</property>
        <property name="show_sql">true</property>
        <!-- update to create new tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.use_nationalized_character_data">true</property>
        <!--<property name="hibernate.connection.CharSet">utf8mb4</property>-->
        <!--<property name="hibernate.connection.characterEncoding">utf8mb4</property>-->
        <!--<property name="hibernate.connection.useUnicode">true</property>-->
        <mapping class="main.com.Server.dataModel.User.User" />
        <mapping class="main.com.Server.dataModel.Product.MyTable" />
        <mapping class="main.com.Server.dataModel.Product.Order" />
        <mapping class="main.com.Server.dataModel.Product.Product" />
        <mapping class="main.com.Server.dataModel.Product.ProductInOrder" />

    </session-factory>
</hibernate-configuration>